<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>FutureWorkTechnologies</title>
  <meta name="description" content="ghost clone javascript blog node.js angular.js">
  <meta name="author" content="Connor Leech">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
   <b>Futureworktechnologies</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

   <form method='post' action='/login'>
      <div class="form-group has-feedback">
        <input type="email" ng-model='user.email' name='email' required class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" ng-model='user.password' name='password' required class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Sign In"/>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- /.social-auth-links -->
    <a href="#">Forgot Password</a><br>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->




 <!--  <div class='container'>
    <div class='row'>
		<div class='col-sm-4 col-sm-offset-4 text-center'>
			<h1>Admin Login</h1>
			<form method='post' action='/login'>
				<input type='text' placeholder='Email' name='email' ng-model='user.email' class='form-control'>

				<input type='password' placeholder='Password' name='password' ng-model='user.password' class='form-control'>
				<input type='submit' class='btn btn-primary' value='Login'>
			</form>
			<a href='/admin/register'>Register a new account</a>
		</div>
	</div>
  </div> -->
</body>
</html>



