<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Post
            <small>Add Post</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard#/userList"><i class="fa fa-dashboard"></i> Post</a></li>
            <li class="active">Add Post</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-11">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Post</h3>
                    </div>
                        <div class="form-group">
                        <div class="alert alert-success" ng-show="message">
                            <strong ng-bind="message" ></strong> 
                        </div>
                    </div>
                    <form method="post"  ng-submit="addPost(post)">
                        <div class="box-body">
                            <div class='col-lg-8'>
                                <div class='form-group'>
                                    <input type='text' placeholder='Title' ng-model='post.title' required="" name='title' class='form-control'>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class='form-group'>
                                    <input type='text' placeholder='Side Image' ng-model='post.simage' name='simage' class='form-control'>  
                                </div>
                            </div>
                         <div class="col-lg-8">
                            <div class='form-group'>
                                <input type='text' placeholder='Header Image' ng-model='post.himage' name='himage' class='form-control'>
                            </div>
                        </div>

                            <div class="col-lg-8">
                                <div class='form-group'>
                                    <input type='text' placeholder='permalink' ng-model='post.paramal' required="" name='paramlink' class='form-control'>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class='form-group'>
                                    <textarea class="form-control" ng-model='post.metadescription' placeholder='Write your metadescription' required=""></textarea>        
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class='form-group'>
                                    <textarea class="form-control" ng-model='post.metakeywords' placeholder='Write your metakeywords' required=""></textarea>        
                                </div>
                            </div>

                            
                            <div class="col-lg-8 full-height">
                                <div class='form-group'>
                                    <textarea required="" class="form-control full-height" id="pad" ng-model='post.description' name="description" placeholder='Write your description'></textarea>
                                    <div class="col-md-6 full-height" id="markdown">
                                        <div btf-markdown='post.description'></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class='form-group'>
                                    <input type='text' placeholder='Author Name' ng-model='post.author_name' name='author_name' class='form-control'>  
                                </div>
                            </div>
                         <div class="col-lg-8">
                            <div class='form-group'>
                                <input type='text' placeholder='Author Image' ng-model='post.author_image' name='author_image' class='form-control'>
                            </div>
                        </div>
                            <div class="col-lg-8">
                                <div class='form-group'>                                   
                                    <select name="category" class="form-control" ng-model='post.category' required="">    
                                        <option value="">--Select Category--</option>
                                        <option ng-repeat="data in cat">{{data.title}}</option>                                      
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                    <span id="mydiv">
                                        <img class="ajax-loader" src="dist/img/loader.gif" style="/*! width: 50px; */">
                                    </span>
                                <input type="submit" value="Publish Post" name="submit" class="btn btn-success pull-right">                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>