<footer class="st-footer" ng-controller="MainCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="social-link">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <ul class="foot-link">
                            <li><a href="/privacypolicy">{{aaat}}</a></li>
                            <li><a href="/termandconditions">{{aaau}}</a></li>
                            <li><a href="/faq">{{aaav}}</a></li>
                            <li><a href="/sitemap.xml">{{aaaw}}</a></li>
                        </ul>
                        <p class="copy-right"> 
                            <script type="text/javascript">
                            var d = new Date();
                            var cYear = d.getFullYear();
                            document.write("&copy; " + cYear + ".");
                                                    </script>&#169; 2017. Future Work Technologies. All Right Reserved.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h6 class="social-head">Connect</h6>
                        <ul>
                            <li><a href="https://www.facebook.com/futureworktechnologies/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/futureworks-technologies-1936ab90/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://plus.google.com/101951926881507891923"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</footer>
