<header class="st-header" ng-controller="MainCtrl">
    <nav class="navbar navbar-default navbar-fixed-top st-nav sticky bdr-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a href="/" class="custom-logo-link" rel="home" itemprop="url"><img width="240" height="90" src="/home/img/cropped-logo-01.png" class="custom-logo" alt="" itemprop="logo"></a>
                        <div class="logo-for-home"> <a  href="/"><img width="240" src="/home/img/logo-new.png" alt="Logo-2"> </a></div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">           
                        <ul class="nav navbar-nav navbar-right st-nav menu-main-menu-container">     
<!--                            <button class="btn ng-scope" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">englisch</button>
                <button class="btn ng-scope" ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE">deutsch</button>
                <button class="btn ng-scope" ng-click="changeLanguage('ar')" translate="BUTTON_LANG_AR">arabic</button>-->
                            <li class="dropdown">
                         <button class="btn btn-primary dropdown-toggle trans_zro" type="button" data-toggle="dropdown">
                         
                            <a href="/"> <img src="/home/img/en_US.png"> English</a>
                            <span class="caret"></span></button>
                           
                             <ul class="dropdown-menu">
                                 <li> <div class="lguage_wdth"> <a href="/de"> <img class="mltlngg-lang lang_flg" src="/home/img/de.png" alt="German"><span class="grmn_clor">German</a></span></div></li>
                            
                                 <li> <div class="lguage_wdth"><a href="/nl"> <img class="mltlngg-lang lang_flg" src="/home/img/nl.png" alt="Dutch"><span class="grmn_clor"> Dutch</a></span></div></li>
                            
                                 <li> <div class="lguage_wdth"> <a href="/zh"><img class="mltlngg-lang lang_flg" src="/home/img/zh.png" alt="Chinese"> <span class="grmn_clor">Chinese</a></span></div></li>
                              
                                 <li> <div class="lguage_wdth"><a href="/ar"> <img class="mltlngg-lang lang_flg" src="/home/img/ar.png" alt="Arabic"><span class="grmn_clor"> Arabic</a></span></div></li>
                                      
                             
                             </ul>
                                       </li>
                            
                            <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/es/about" aria-expanded="true" translate="about">{{aac}}</a>
                            <ul class="sub-menu dropdown-menu">
                            <li>
                            <a href="/es/visionandmission">{{aad}}</a>
                            </li>
                            <li>
                            <a href="/es/whyfutureworktechnologies">{{aae}}</a>
                            </li>
                            </ul>
                            </li>                                        
                            <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/es/clients" aria-expanded="true" translate="client">{{aaf}}</a>
                            <ul class="sub-menu dropdown-menu">
                            <li>
                            <a href="/es/clients" >{{aaf}}</a>
                            </li>
                            <li>
                            <a href="/es/testimonials">{{aag}}</a>
                            </li>
                            </ul>
                            </li>
                            <li><a href="/es/howwework" translate="howitwork">{{aah}}</a></li>
                            <li><a href="/es/careers" translate="career">{{aai}}</a> </li>
                            <li><a href="/es/blog" translate="blog">{{aaj}}</a> </li>
                            <li><a href="/es/contact" type="button" class="btn defult_btn" translate="contactus">{{aak}}</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="clr"></div>
</header>
