<section class="privacypolicy-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-md-offset-1 no-padding">
          <div class="privacy-box">
            <h1 class="center">Term and Conditions</h1>
            </div>
            
            <div class="privacy-box">
            <h2>Information we collect on our website or app?</h2>         
              
              <p>Welcome to futureworktechnologies.com. This website is owned and operated by VERVE Financial Services Private Limited, 6 Dhanammal Street, Spurtank Road, Chetpet, Chennai 600 031 INDIA. By visiting our website and accessing the information, resources, services, products, and tools we provide, you understand and agree to accept and adhere to the following terms and conditions as stated in this policy (hereafter referred to as 'User Agreement'), along with the terms and conditions as stated in our Privacy Policy (please refer to the Privacy Policy section below for more information).</p>
              </div>
               <div class="privacy-box">
               <h2>Information we collect on our website or app?</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                   <div class="privacy-box">
                   <h2>Information we collect on our website or app?</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                
           
         
        </div>
      </div>
    </div>
  </section>
  