<section class="st-content"></section>
<section class="why-future">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h1>{{aaab}}</h1>
          <p>{{aaac}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 no-padding">
          <div class="col-sm-10 center" ng-bind-html="aaad">
         
          <ul class="future-details">
            <li>
              <div class="img-sec"> <i class="fa fa-calendar" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of years in business</span> <strong>5+</strong></div>
            </li>
            <li>
              <div class="img-sec"> <i class="fa fa-suitcase" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of customers served</span> <strong>250+</strong></div>
            </li>
            <li>
              <div class="img-sec"> <i class="fa fa-star" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of projects delivered</span> <strong>450+</strong></div>
            </li>
            <li>
              <div class="img-sec"> <i class="fa fa-users" aria-hidden="true"></i></div>
              <div class="details-inner"> <span>No. of Employees</span> <strong>80+</strong></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</section>
<section class="why-slider-sec">
  <div class="img-pattern"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h1>{{aaae}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-suitcase" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>{{aaal}}</h6>
          </div>
          <div class="slide-content">
            <p>{{aaam}}</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-star" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>{{aaaf}}</h6>
          </div>
          <div class="slide-content">
            <p>{{aaag}}</p>
          </div>
        </div>
      </div>
      <div class="item active">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-users" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>{{aaah}}</h6>
          </div>
          <div class="slide-content">
            <p>{{aaai}}</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-wrapper">
          <div class="slide-img"> <span><i class="fa fa-star" aria-hidden="true"></i></span></div>
          <div class="slide-heading">
            <h6>{{aaaj}}</h6>
          </div>
          <div class="slide-content">
           <p>{{aaak}}</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
  <div class="clr"></div>
</section>
<section class="why-different">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h1>{{aaan}}</h1>
          <p>{{aaao}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="col-sm-10 center">
          <p> {{aaap}}</p>
          <section class="testimonial_sec">
            <div class="container">
              <div class="row">
                <div class="col-md-12 no-padding">
                  <div class="col-md-10 col-sm-10 center">
                    <div class="client-img">
                      <figure> <img src="https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-300x300.jpg" alt="" class="alignnone size-medium wp-image-531" srcset="https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-300x300.jpg 300w, https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-150x150.jpg 150w, https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1-768x768.jpg 768w, https://futureworktechnologies.com/wp-content/uploads/2017/03/Chatri-Sityodton-1.jpg 922w" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300"></figure>
                      <div class="client-details"> <span class="name">{{aaar}}</span> <span class="designation">{{aaas}}</span></div>
                    </div>
                    <div class="client_feedback">
                        <p> <span class="left-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></span> <p ng-bind-html="aaaq"></p><span class="right-icon"><i class="fa fa-quote-right" aria-hidden="true"></i></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
