<li><a href="/admin/dashboard#/LanguageUpdateEn"><i class="fa fa-circle-o"></i>Language English</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateDe"><i class="fa fa-circle-o"></i>Language DE</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateAr"><i class="fa fa-circle-o"></i>Language AR</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateNl"><i class="fa fa-circle-o"></i>Language NL</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateZh"><i class="fa fa-circle-o"></i>Language ZH</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateFr"><i class="fa fa-circle-o"></i>Language FR</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateEs"><i class="fa fa-circle-o"></i>Language ES</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateNn"><i class="fa fa-circle-o"></i>Language NN</a></li>
<li><a href="/admin/dashboard#/LanguageUpdatePt"><i class="fa fa-circle-o"></i>Language PT</a></li>
<li><a href="/admin/dashboard#/LanguageUpdateJa"><i class="fa fa-circle-o"></i>Language JA</a></li>