.margin10 {
    margin-bottom: 10px;
    margin-right: 10px;
}

.blog-post-page .post-wrapper {
    display: table;
    width: 100%;
    color: #666;
}

.post-wrapper p.post-content {
    margin-bottom: 50px;
    position: relative;
}

.post-wrapper li {
    background: rgba(179,179,179,.38);
    border-radius: 2px;
    padding: 20px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}